* {
  background-color: whitesmoke;
}
#header {
  padding: 1.6rem;
  margin: 1.2rem;
  border: 16px solid red;
}
#main-context {
  padding: 1.6rem;
  margin: 1rem;
  border: 16px solid blue;
}
#footer {
  padding: 1.6rem;
  margin: 1.6rem;
  border: 16px solid green;
}
h1 {
  color: gray;
}
h3 {
  color: gray;
}
nav {
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 2.5rem;
}

nav ul li a:hover {
  color: black;
  transition: 0.25s ease-in-out;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  color: gray;
}
h2 {
  color: gray;
}
table, tr, th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1.6rem;
  border-spacing: 1.2rem;
  text-align: center;
}
tr:hover{
  background-color: red;}
/* tr{
  height: 50px;

} */
#main-content, h2{
  text-align: center;
}


