*{
    background-color: black;
}
#header {
    padding: 1.6rem;
    margin: 1.2rem;
    border: 16px solid red;
  }
  #main {
    padding: 1.6rem;
    margin: 1rem;
    border: 16px solid blue;
  }
  #footer {
    padding: 1.6rem;
    margin: 1.6rem;
    border: 16px solid green;
  }
  h1 {
    color: white;
  }
  h3 {
    color: white;
  }
